<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.NVBookstore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logonew"
        android:label="NVBookstore"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Viewall_Activity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Activities.Payment_Method_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.Notification_Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.Shipping_Address_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Edit_Address_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Add_Address_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Confirmorder_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Checkout_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MyorderDetails_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Myorders_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Editprofile_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Filter_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Bookdetails_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ForgotPassword_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Registration_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Login_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Splash_Activity"
            android:label="NVBookstore"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
+
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>